{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            { "runtime": "automatic", "importSource": "custom-jsx-library" }
        ]
    ]
}
